<!-- user registration page here -->
<!DOCTYPE html>
{%extends "basic_app/base.html"%}
{%load staticfiles%}

{%block body_block%}
<div class="jumbotron">
  {%if registered%}
  <!-- this is the message that will display right after hitting button Register -->
    <h1>Thank you for your registering!</h1>
  {%else%}
    <h1>Register here!</h1>
    <h3>Fill out the form:</h3>

    <form method="post" enctype="multipart/form-data">
      <div class="form-group">
        {%csrf_token%}
        {{user_form.as_p}}
        {{profile_form.as_p}}
        <input class="btn btn-primary" type="submit" name="" value="Register!">
      </div>
    </form>
  {%endif%}
</div>

<img src="{%static "images/djangoLogo.jpg"%}" alt="Error Loading Image">
{%endblock%}
